.container {
    height: auto;
    width: 100%;
    padding-bottom: 6rem;
}

.container__metricas {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    padding: 0 7rem;
}

.container__dados {
    width: 280px;
}

.container__numeros {
    color: var(--vermelho);
    font-size: 3.75rem;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 4.5rem;
}

.container__titulo {
    color: var(--cinza-titulo);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: .75rem 0 .5rem 0;
}

.container__texto {
    color: var(--cinza-texto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}